<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wms.mapper.UserRoleMapper">
    <resultMap type="com.wms.user.service.bean.UserRoleBean" id="UserRoleMap">
        <id column="id" property="id"/>
        <result column="userId" property="user_id"/>
        <result column="roleId" property="role_id"/>
        <result column="creator" property="creator"/>
        <result column="createPerson" property="create_person"/>
        <result column="createTime" property="create_time"/>
        <result column="editor" property="editor"/>
        <result column="modifyPerson" property="modify_person"/>
        <result column="modifyTime" property="modify_time"/>
    </resultMap>

    <!--查詢所有角色-->
    <select id="list"
            resultMap="UserRoleMap">
       select * from wms_user_role
    </select>
    <!--查詢所有角色-->
    <select id="getById"
            resultMap="UserRoleMap">
       select * from wms_user_role where  id = #{id}
    </select>
    <!--添加角色-->
    <insert id="save" parameterType="com.wms.user.service.bean.UserRoleBean">
       insert into wms_user_role (
       id,
       user_id,
       role_id,
      creator,
      create_person,
      create_time,
      editor,
      modify_person,
      modify_time
       ) values (
       #{id},
       #{userId},
       #{roleId},
       #{creator},
       #{createPerson},
       #{createTime},
       #{editor},
       #{modifyPerson},
       #{modifyTime}
       )
    </insert>
    <!--修改-->
    <update id="update" parameterType="com.wms.user.service.bean.UserRoleBean">
       update wms_user_role set
       user_id = #{userId},
       role_id = #{roleId},
       editor = #{editor},
       modify_person =#{modifyPerson},
       modify_time = #{modifyTime}
       where
       id = #{id}
    </update>
    <!--刪除-->
    <delete id="delete" parameterType="com.wms.user.service.bean.UserRoleBean">
      delete from wms_user_role where id = #{id}
    </delete>
</mapper>